@mixin page-header-title {
  font-family: "Sansita", sans-serif;
  font-size: 2.8rem;
}

@mixin page-header-title-desktop {
  letter-spacing: 8px;
  font-family: "Sansita", sans-serif;
  font-size: 6rem;
}

@mixin plain-anchor {
  text-decoration: none;
  color: inherit;
}

@mixin reset-list {
  padding: 0;
  list-style: none;
}
