.nav-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 50px 0px 0px;
    .nav-link-section{
        
        color: $color-tres ;
        font-family:$font-principal ;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        a{
            margin: 10px 50px 0px 0px;
            text-decoration: none;
            list-style: none;
            color: #ff6347;
            font-size: 18px;
            &:hover {
                color: $color-dos;
        }

         }
    }
}