/*FUENTES*/
$font-principal: "Sansita", sans-serif;
$font-secundaria: "Alegreya Sans SC", sans-serif;

/*COLORES*/
$color-uno: #2b4764;
$color-dos: #98c1d9;
$color-tres: #ee6c4d;

/*FONT*/
$font-zoom: regular;
$grey: #222;
$easing: cubic-bezier(0.19, 1, 0.22, 1);
