* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HOME*/
body {
  background-color: #1f2632;
  margin-top: 0px;
}
.box-img {
  display: flex;
  position: absolute;
  z-index: 1;
  display: none;
}
.img-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-background img {
  width: 10%;
  opacity: 0.2;
}
.img-background img:hover {
  opacity: 0.8;
}
header.header-backgroud {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: tomato;
  font-family: "Sansita", sans-serif;
  font-size: 200px;
  letter-spacing: 8px;
  z-index: +1;
  /* justify-content: center; */
}
.header-backgroud h1 span {
  color: #e0fbfc;
}

.header-backgroud h1 {
  color: tomato;
  font-family: "Sansita", sans-serif;
  font-size: 40px;
  letter-spacing: 8px;
  text-align: center;
  margin: 0px;
  position: relative;
  z-index: 1;
}

header img {
  position: relative;
  width: 200px;
  display: block;
  text-align: center;
}

.nav-link-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 120px;
}
.nav-link-home :hover {
  color: #e0fbfc;
}

.nav-link-home div img {
  width: 80px;
}

.nav-link-home a {
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
  font-size: 0px;
}
/* li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 30px;
} */
ul ul {
  position: absolute;
  display: none;
  background-color: #8fabbe;
  width: 150px;
}
ul ul li {
  display: block;
  font-size: 20px;
  color: #1f2632;
}
ul li:hover ul {
  display: block;
  align-items: end;
  position: relative;
  margin: -160px 0px 0px 150px;
}

/*----------fin home-----------*/
/*---------posters-------------*/
h2 {
  font-size: 7rem;
}
.name-page-global .posters {
  color: #ee6c4d;
  margin: 40px 50px 20px;
}
.name-page-global .second {
  color: #e0fbfc;
}

/*nav gobal*/
section.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 50px 0px 0px;
}
.nav-link-section {
  color: tomato;
  font-family: "Sansita", sans-serif;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
.subt-page {
  font-family: "Sansita", sans-serif;
  font-size: 30px;
  color: #374358;
  margin: 10px 0px 40px 50px;
}
.conteiner-tags .bg-img {
  display: flex;
  align-items: center;
}

.conteiner-tags a {
  text-decoration: none;
  list-style: none;
}
.conteiner-tags {
  font-family: "Sansita", sans-serif;
  font-size: 45px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.conteiner-tags h2 {
  margin-bottom: -10px;
  margin-left: 50px;
  position: relative;
  z-index: -1;
  font-size: 4rem;
}
.bg-img {
  background-color: #98c1d9;
  width: 100%;
  display: flex;
}

.conteiner-tags .disney {
  color: #98c1d9;
}
.conteiner-tags .marvel {
  color: #ee6c4d;
}
.conteiner-tags .starswars {
  color: #e0fbfc;
}
.conteiner-tags .retro {
  color: #2b4764;
}
.bg-img img {
  text-align: center;
}

.bg-img img {
  width: 70%;
  margin: 10%;
}

.nav-link-section div {
  margin: 20px;
}
.nav-link-section a {
  text-decoration: none;
  list-style: none;
  color: #ff6347;
  font-size: 18px;
  margin: 5px;
}
.name-global {
  top: 50px;
}

/*disney - marvel - Star Wars - */

.name-page-global h2 {
  letter-spacing: 8px;
  font-family: "Sansita", sans-serif;
  font-size: 6rem;
}
.name-page-global.section-title {
  position: relative;
  /* top: 70px; */
  margin-left: 100px;
}
.galery-post.bg-disney {
  background-color: #98c1d9;
}
.box-galery {
  display: flex;
  flex-wrap: wrap;
}
.frame img {
  width: 250px;
  margin: 20px;
}
.box-frame img:hover {
  background-color: #374358;
  width: 250;
  opacity: 0.2;
  border: 3px solid rgb(0, 0, 0);
}

.box-frame h3 {
  color: rgba(255, 255, 255, 0);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 235px;
}

.box-frame:hover h3 {
  color: rgb(255, 255, 255);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 235px;
  z-index: 1;
}
.name-page-global .disney {
  color: #98c1d9;
  margin: 20px 0px -20px 50px;
}
.name-page-global .marvel {
  color: #ee6c4d;
  margin: 20px 0px -20px 250px;
}
.galery-post.bg-marvel {
  background-color: #ee6c4d;
}
hove .galery-post.bg-starwars {
  background-color: #e0fbfc;
}
.name-page-global .starwars {
  color: #e0fbfc;
  margin: 20px 0px -20px 750px;
}
.galery-post.bg-retro {
  background-color: #2b4764;
}
.name-page-global .retro {
  color: #2b4764;
  margin: 20px 0px -20px 1200px;
}

.conteiner-grid div img {
  width: 250px;
  margin: -2px;
  border: 4px solid rgb(0, 0, 0);
  transition: all 2s;
}

.conteiner-grid div img:hover {
  width: 200%;
  background-color: rgb(0, 0, 0);
}
.conteiner-grid .columna:hover {
  z-index: 2;
}
.columna {
  width: 100%;
  display: grid;
  grid-template-columns: 200px;
  grid-template-columns: repeat(6, 250px);
  justify-content: center;
}
.conteiner-grid .columna6 {
  z-index: 1;
}
.conteiner-grid .columna5 {
  position: relative;
  z-index: 2;
}
.conteiner-grid .columna4 {
  position: relative;
  z-index: 3;
}
.conteiner-grid .columna3 {
  position: relative;
  z-index: 4;
}
.conteiner-grid .columna2 {
  position: relative;
  z-index: 5;
}
.conteiner-grid .columna1 {
  z-index: 6;
}

@media only screen and (min-width: 768px) {
  .box-img {
    display: block;
  }

  header img {
    display: none;
  }
  .header-backgroud h1 {
    color: tomato;
    font-family: "Sansita", sans-serif;
    font-size: 150px;
    letter-spacing: 8px;
    text-align: center;
    position: relative;
    top: 100px;
  }
  .nav-link-home {
    margin-top: 150px;
  }

  .nav-link-home img {
    width: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .box-img {
    display: block;
  }
  header img {
    display: none;
  }
  .header-backgroud h1 {
    color: tomato;
    font-family: "Sansita", sans-serif;
    font-size: 150px;
    letter-spacing: 8px;
    text-align: center;
    position: relative;
    /* z-index: 0; */
    /* top: 100px; */
  }
  .img-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-link-home {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 200px;
  }

  .nav-link-home div img {
    width: 50%;
    position: relative;
    z-index: 1;
  }
}
/*CONTACT0*/
.contact-section {
  background-color: #98c1d9;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #2b4764;
}
.fieldset {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  z-index: 2;
}
.style-form {
  display: flex;
  flex-direction: row;
}
.input-contact {
  display: flex;
  flex-direction: column;
}
.contact-section img {
  width: 100%;
}
.contact-section h3 {
  margin: 20px 0px 0px 20px;
}

.input-contact input.text {
  width: 70;
  height: 20px;
  transition: all 1s;
}
input.text:focus {
  width: 100%;
  font-size: 24px;
}
.contact-section div {
  margin: 1rem;
}
div.dropdown {
  margin: 1rem 1rem 1rem 0rem;
}
.cta-add {
  background-color: #779db3;

  width: 100px;
  height: 30px;
  font-size: 15px;
  color: white;
}
.cta-add:hover {
  transform: scale(1.5, 1.5);
  background-color: #b6d5e7;
  color: #1f2632;
}

.container-slider {
  display: flex;
  padding: 50px;
  /* justify-content: center; */
}

.container-slider .texto-slider {
  flex-basis: 40%;
  color: #fff;
  padding: 0 20px;
}

.container-slider .texto-slider p {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
}

.container-slider .carousel.slide {
  flex-basis: 60%;
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  z-index: 6;
}
.error a {
  text-decoration: none;
  list-style: none;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #ff6347;
  z-index: 6;
  font-size: 1.2rem;
}
.error img {
  width: 15%;
  z-index: 6;
}
.error h4 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
  z-index: 5;
  color: #ffff;
}
